:root {
  --main-color: #37517e;
}

.hero-section {
  background-color: #37517e;
}
ul a {
  color: white !important;
}
ul {
  padding-right: 20px;
  gap: 1rem;
}
.dropdown-menu a {
  color: black !important;
}
.active {
  color: #00aee6 !important;
}

.animate-img {
  animation: move 1.5s ease-in-out infinite alternate;
}
@keyframes move {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}
.blue {
  color: var(--main-color);
}
.back-line {
  width: 150px;
  height: 1px;
  background-color: grey;
  margin: auto;
  position: relative;
}
.fornt-line {
  width: 70px;
  height: 3px;
  background: cyan;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-color {
  color: #37517e;
  font-size: large;
}
.bgcolor {
  background: #37517e;
}
.color {
  color: #37517e;
}
.servicess-area {
  padding-top: 3.5rem;
}
.for-hover :hover {
  cursor: pointer;
  transform: translateY(-10px);
}
.for-hover:hover h3 {
  color: cyan;
}
Explain-card img {
  transition: all 1s;
}
.Explain-card:hover img {
  scale: 1.1;
}

.number {
  position: relative;
  z-index: 5666;
}

.Explain-card:hover .card-text {
  transform: translateY(-10px);
}
.Explain-card .card-text {
  transition: all 0.5s;
}
